html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

input, textarea, select {
  font-family: inherit;
  font-size: 16px;
}

input[type=button], input[type=text], input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th, td {
  border-collapse: collapse;
}

table th, table td {
  white-space: nowrap;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

html {
  color: #000;
  background-color: #F9F9F9;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}

.pc-on {
  display: block;
}

.sp-on {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc-on {
    display: none;
  }
  .sp-on {
    display: block;
  }
}
.c-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 20px 40px;
  margin: 0 auto;
  background: linear-gradient(to right, #2B32B2, #007BFF);
  border-radius: 32px;
  transition: all 0.3s;
}

.c-button:after {
  content: "";
  display: block;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.c-button:hover {
  color: #2B34B4;
  background: linear-gradient(to right, #007BFF, #A3CDFF, #EAEBFE);
  border-radius: 32px;
}

.c-button:hover:after {
  content: "";
  display: block;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #2B34B4;
  border-right: 2px solid #2B34B4;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .c-button {
    font-size: 14px;
    padding: 12px 24px;
  }
  .c-button:after {
    margin-left: 6px;
    width: 6px;
    height: 6px;
  }
  .c-button:hover:after {
    margin-left: 6px;
    width: 6px;
    height: 6px;
  }
}
[data-fadein] {
  opacity: 0;
  transition: all 0.6s;
  transform: translateY(150px);
}

[data-fadein].show {
  opacity: 1;
  transform: translateY(0px);
}

[data-leftin] {
  opacity: 0;
  transition: all 0.6s;
  transform: translateX(-150px);
}

[data-leftin].show {
  opacity: 1;
  transform: translateX(0px);
}

[data-rightin] {
  opacity: 0;
  transition: all 0.6s;
  transform: translateX(150px);
}

[data-rightin].show {
  opacity: 1;
  transform: translateX(0px);
}

.l-header {
  width: 100%;
  height: 84px;
}
.l-header__inner {
  max-width: 1365px;
  width: calc(100% - 40px);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__logo img {
  width: 400px;
  height: auto;
}
.l-header__nav {
  display: block;
}
.l-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-radius: 42px 8px 42px 8px;
  background-color: rgba(0, 123, 255, 0.5);
}
.l-header__list {
  position: relative;
  margin: 0 20px;
  padding: 0 13px;
  height: 84px;
}
.l-header__list a {
  color: #F9F9F9;
  font-size: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 84px;
}
.l-header__list:not(:last-child) {
  margin-right: 20px;
}
.l-header__list:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 1px;
  height: 84px;
  background: #007BFF;
  transform: translateY(-50%) rotate(30deg);
}
.l-header__hamburger {
  width: 84px;
  height: 84px;
  background: linear-gradient(to right, #2B32B2, #007BFF);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
}
.l-header__hamburger__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.l-header__hamburger span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.3s;
}
.l-header__hamburger span:nth-child(2n) {
  margin: 8px 0;
}
.l-header__hamburger.open span {
  display: block;
}
.l-header__hamburger.open span:nth-child(1n) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.l-header__hamburger.open span:nth-child(2n) {
  opacity: 0;
}
.l-header__hamburger.open span:nth-child(3n) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.l-header.fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

@media screen and (max-width: 1100px) {
  .l-header__nav {
    display: none;
  }
  .l-header__hamburger {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  .l-header {
    height: 54px;
  }
  .l-header__logo {
    max-width: 300px;
    width: 70%;
  }
  .l-header__logo img {
    height: auto;
  }
  .l-header__hamburger {
    width: 54px;
    height: 54px;
  }
  .l-header__hamburger span {
    width: 28px;
    height: 4px;
  }
}
.l-header-sp-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9000;
  background: linear-gradient(to right, #2B32B2, #007BFF);
}
.l-header-sp-menu__logo {
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto 30px;
}
.l-header-sp-menu__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}
.l-header-sp-menu__list a {
  display: block;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.l-header-sp-menu__list:not(:first-child) {
  margin-top: 20px;
}

.l-header-sp-menu.open {
  display: block;
}

.white-logo {
  display: block;
}

.white-logo.hide {
  display: none;
}

.black-logo {
  display: none;
}

.black-logo.show {
  display: block;
}

.l-footer {
  background-color: #134094;
  padding: 70px 20px;
}
.l-footer__inner {
  max-width: 1000px;
  margin: 0 auto;
}
.l-footer__logo img {
  width: 400px;
  height: auto;
  margin: 0 auto 64px;
}
.l-footer__nav {
  margin: 0px auto 96px;
}
.l-footer__lists {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-footer__list a {
  display: block;
  font-size: 20px;
  color: white;
}
.l-footer__list:not(:last-child) {
  margin-right: 54px;
}
.l-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-footer__privacys {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-footer__privacy a {
  display: block;
  font-size: 16px;
  color: white;
}
.l-footer__privacy:not(:last-child) {
  margin-right: 38px;
}
.l-footer__copy {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .l-footer {
    padding: 40px 20px 20px;
  }
  .l-footer__logo img {
    width: 300px;
    margin: 0 auto 40px;
  }
  .l-footer__nav {
    margin: 0px auto 40px;
    padding: 0;
  }
  .l-footer__lists {
    max-width: 300px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .l-footer__list {
    width: 50%;
  }
  .l-footer__list a {
    font-size: 16px;
    text-align: center;
  }
  .l-footer__list:nth-child(2n) {
    width: calc(50% - 20px);
    margin-left: 20px;
  }
  .l-footer__list:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .l-footer__bottom {
    display: block;
  }
  .l-footer__privacys {
    justify-content: center;
    margin-bottom: 20px;
  }
  .l-footer__privacy a {
    font-size: 14px;
  }
  .l-footer__privacy:not(:last-child) {
    margin-right: 30px;
  }
  .l-footer__copy {
    padding: 10px;
    font-size: 14px;
  }
}
.l-kv {
  width: 100vw;
  height: 640px;
}
.l-kv__bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.l-kv__page-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 60%;
  right: 0;
  padding: 0 4% 0 15%;
  font-size: 56px;
  text-align: right;
  border-radius: 0 44px 44px 0;
  color: #000000;
  background-color: rgba(249, 249, 249, 0.7);
  white-space: nowrap;
}

@media screen and (max-width: 1100px) {
  .l-kv {
    width: 100vw;
    height: 480px;
  }
  .l-kv__bg {
    width: 100%;
    height: 100%;
  }
  .l-kv__page-name {
    font-size: 56px;
  }
}
.l-kv__bg.l-kv__bg-company {
  background-image: url(../img/kv/kv-company.png);
}

.l-kv__bg.l-kv__bg-works {
  background-image: url(../img/kv/kv-works.png);
}

.l-kv__bg.l-kv__bg-recruit {
  background-image: url(../img/kv/kv-recruit.png);
}

.l-kv__bg.l-kv__bg-contact {
  background-image: url(../img/kv/kv-contact.png);
}

.l-kv__bg.l-kv__bg-news {
  background-image: url(../img/kv/kv-news.png);
}

@media screen and (max-width: 768px) {
  .l-kv {
    width: 100vw;
    height: 240px;
  }
  .l-kv__bg {
    width: 100%;
    height: 100%;
  }
  .l-kv__page-name {
    font-size: 24px;
  }
}
.top-button {
  font-weight: 300;
}

.entry-button {
  font-weight: 500;
  background: linear-gradient(to right, #F5F6FF, #A3CDFF, #007BFF);
  color: #2B34B4;
}

.entry-button:after {
  content: "";
  display: block;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #2B34B4;
  border-right: 2px solid #2B34B4;
  transform: rotate(45deg);
}

.entry-button:hover {
  color: #F9F9F9;
  background: linear-gradient(to right, #007BFF, #7377BE);
  border-radius: 32px;
}

.entry-button:hover:after {
  content: "";
  display: block;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #F9F9F9;
  border-right: 2px solid #F9F9F9;
  transform: rotate(45deg);
}

.c-top-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.c-top-title__en {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  margin: 0 auto;
}
.c-top-title__ja {
  display: block;
  font-size: 56px;
  font-weight: 500;
  text-align: center;
}

.l-fv {
  width: 100%;
  height: 120vh;
  overflow: hidden;
}
.l-fv__inner {
  display: flex;
  align-items: center;
  position: relative;
}
.l-fv__left {
  width: 38%;
  position: absolute;
  top: 10%;
  left: 0;
}
.l-fv__top {
  width: 90%;
  margin-left: 15%;
  transition: all 2s;
  transform: translateY(-100%);
}
.l-fv__top.show {
  transform: translateY(0);
}
.l-fv__middle {
  width: 45%;
  margin: 32px 0 32px 15%;
  transform: translateX(-200%);
  transition: all 2.5s;
}
.l-fv__middle.show {
  transform: translateX(0);
}
.l-fv__bottom {
  width: 60%;
  transform: translate(-100%, 100%);
  transition: all 3s;
}
.l-fv__bottom.show {
  transform: translate(0%, 0%);
}
.l-fv__right {
  width: 85%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 2s;
}
.l-fv__right.show {
  transform: translateX(0%);
}

@media screen and (max-width: 1400px) {
  .l-fv {
    width: 100%;
    height: 800px;
  }
}
@media screen and (max-width: 1200px) {
  .l-fv {
    width: 100%;
    height: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .l-fv {
    width: 100%;
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .l-fv {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.l-top-about {
  padding: 0px 20px;
  margin-top: 220px;
  position: relative;
}
.l-top-about__bg {
  width: 100vw;
  height: 543px;
  background-image: url(../img/bg/bg-top-01.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.l-top-about__title {
  margin-bottom: 160px;
}
.l-top-about__catch {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 100px;
}
.l-top-about__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: 70px;
}

.l-top-news {
  padding: 0px 20px;
  margin: 160px auto 187px;
}
.l-top-news__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 862px;
  margin: 0 auto;
}
.l-top-news__left {
  width: 30%;
  margin-right: 10%;
}
.l-top-news__title {
  margin-bottom: 80px;
}
.l-top-news__right {
  width: 60%;
}
.l-top-news__item {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #000000;
  border-top: solid 1px #2B34B4;
}
.l-top-news__item:last-child {
  border-bottom: solid 1px #2B34B4;
}
.l-top-news__date {
  padding: 30px 24px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.l-top-news__text {
  padding: 30px 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.l-top-business {
  padding: 100px 20px 120px;
  background-image: url(../img/bg/bg-top-business.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.l-top-business__title {
  margin-bottom: 100px;
}
.l-top-business__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 80px;
}
.l-top-business__left {
  width: 50%;
  margin-right: 5%;
}
.l-top-business__right {
  width: 45%;
}
.l-top-business__information {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 48px;
}
.l-top-business__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.l-top-business__inner {
  max-width: 1000px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.l-top-business__content {
  width: calc(25% - 30px);
  margin-right: 40px;
}
.l-top-business__content:nth-child(4n) {
  margin-right: 0px;
}
.l-top-business__img {
  margin-bottom: 24px;
}
.l-top-business__name {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.l-top-business__name__little {
  display: block;
  font-size: 14px;
  text-align: center;
}

.l-top-recruit {
  margin: 180px 0;
  padding: 0 20px;
}
.l-top-recruit__title {
  margin-bottom: 100px;
}
.l-top-recruit__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 80px;
}
.l-top-recruit__left {
  width: 50%;
  margin-right: 5%;
}
.l-top-recruit__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.l-top-recruit__right {
  width: 45%;
}

.l-top-interview {
  padding-bottom: 120px;
  background-image: url(../img/bg/bg-top-interview.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.l-top-interview__title {
  margin-bottom: 100px;
}
.l-top-interview__assembe {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 0 20px;
}
.l-top-interview__contents {
  max-width: 1000px;
  margin: 0 auto 100px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.l-top-interview__content {
  width: calc(33.3333333333% - 33.3333333333px);
  margin-right: 50px;
}
.l-top-interview__content:nth-child(3n) {
  margin-right: 0px;
}
.l-top-interview__img {
  margin-bottom: 20px;
}
.l-top-interview__post {
  color: #F9F9F9;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.l-top-interview__name {
  margin-bottom: 12px;
  color: #F9F9F9;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}
.l-top-interview__text {
  color: #F9F9F9;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.l-top-interview__text .year {
  font-size: 14px;
}

.l-top-contact {
  padding: 120px 0;
  background-image: url(../img/bg/bg-top-contact.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.l-top-contact__flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.l-top-contact__left {
  width: 56%;
  margin-right: 5%;
}
.l-top-contact__title {
  margin: 0 auto 60px 0;
}
.l-top-contact__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}
.l-top-contact__right {
  width: 39%;
}

@media screen and (max-width: 768px) {
  .c-top-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .c-top-title__en {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 24px;
    margin: 0 auto;
  }
  .c-top-title__ja {
    display: block;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
  }
  .l-top-about {
    margin-top: 110px;
    position: relative;
  }
  .l-top-about__bg {
    width: 100vw;
    height: 270px;
  }
  .l-top-about__title {
    margin-bottom: 80px;
  }
  .l-top-about__catch {
    font-size: 26px;
    margin-bottom: 50px;
  }
  .l-top-about__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
    text-align: left;
  }
  .l-top-news {
    margin: 120px auto;
  }
  .l-top-news__flex {
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 862px;
    margin: 0 auto;
  }
  .l-top-news__left {
    width: 100%;
    margin-right: 0%;
  }
  .l-top-news__list {
    margin-bottom: 40px;
  }
  .l-top-news__title {
    margin-bottom: 40px;
  }
  .l-top-news__right {
    width: 100%;
  }
  .l-top-news__date {
    padding: 10px 12px;
    font-size: 12px;
  }
  .l-top-news__text {
    padding: 10px 12px;
    font-size: 14px;
  }
  .l-top-business {
    padding: 100px 20px;
  }
  .l-top-business__title {
    margin-bottom: 50px;
  }
  .l-top-business__flex {
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto 50px;
  }
  .l-top-business__left {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 20px;
  }
  .l-top-business__right {
    width: 100%;
  }
  .l-top-business__information {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .l-top-business__text {
    font-size: 14px;
    line-height: 21px;
  }
  .l-top-business__inner {
    margin: 0 auto 40px;
    display: block;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .l-top-business__content {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .l-top-business__content:nth-child(4n) {
    margin-right: 0px;
    margin-bottom: 0;
  }
  .l-top-business__img {
    margin-bottom: 20px;
  }
  .l-top-business__name {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .l-top-business__name__little {
    font-size: 14px;
  }
  .l-top-recruit {
    margin: 90px 0;
  }
  .l-top-recruit__title {
    margin-bottom: 50px;
  }
  .l-top-recruit__flex {
    flex-direction: column-reverse;
    margin: 0 auto 40px;
  }
  .l-top-recruit__left {
    width: 100%;
    margin-right: 0%;
  }
  .l-top-recruit__text {
    font-size: 14px;
    line-height: 21px;
  }
  .l-top-recruit__right {
    width: 100%;
    margin-bottom: 20px;
  }
  .l-top-interview {
    padding: 80px 0;
    background-image: url(../img/bg/bg-top-interview.png);
    background-size: 700%;
  }
  .l-top-interview__title {
    margin-bottom: 50px;
  }
  .l-top-interview__assembe {
    margin: 0 auto 30px;
  }
  .l-top-interview__contents {
    margin: 0 auto 50px;
    display: block;
  }
  .l-top-interview__content {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .l-top-interview__content:nth-child(3n) {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .l-top-interview__img {
    margin-bottom: 20px;
  }
  .l-top-interview__post {
    font-size: 14px;
  }
  .l-top-interview__name {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .l-top-interview__text {
    font-size: 14px;
  }
  .l-top-interview__text .year {
    font-size: 12px;
  }
  .l-top-contact {
    padding: 80px 0;
  }
  .l-top-contact__flex {
    display: block;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .l-top-contact__left {
    width: 100%;
    margin-right: 0%;
  }
  .l-top-contact__title {
    margin: 0 auto 30px;
  }
  .l-top-contact__text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .l-top-contact__right {
    width: 100%;
  }
}
.p-company__sec-title {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}
.p-company__mission {
  padding: 200px 20px 100px;
  background-image: url(../img/bg/bg-company-mission.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.p-company__mission__title {
  margin-bottom: 120px;
}
.p-company__mission__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
.p-company__history {
  padding: 120px 20px 131px;
  background-image: url(../img/bg/bg-company-history-pc.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.p-company__history__title {
  margin-bottom: 80px;
}
.p-company__history__flow {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
.p-company__history__flow--pc {
  max-width: 1054px;
}
.p-company__history__flow--sp {
  max-width: 400px;
  width: 80%;
}
.p-company__about {
  background-image: url(../img/bg/bg-company-about.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.p-company__about__title {
  margin-bottom: 31px;
}
.p-company__about__top {
  padding: 180px 0px 120px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1004px;
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 480px;
}
.p-company__about__left {
  width: 43%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
}
.p-company__about__text {
  padding: 24px 24px 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  background-color: rgba(249, 249, 249, 0.8);
}
.p-company__about__right {
  width: 64%;
  position: absolute;
  right: 0;
  z-index: 5;
}
.p-company__about__table {
  padding: 0 20px 240px;
}
.p-company__about__table dl {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0px auto;
  border: solid 1px #2B34B4;
}
.p-company__about__table dt {
  width: 161px;
  color: #000000;
  padding: 11px 24px;
  background-color: rgba(43, 52, 180, 0.1);
  border-bottom: solid 1px #2B34B4;
}
.p-company__about__table dt:last-child {
  border-bottom: none;
}
.p-company__about__table dt + dd {
  width: calc(100% - 209px - 48px);
  color: #000000;
  padding: 11px 24px;
}
.p-company__about__table dt + dd:not(:last-child) {
  border-bottom: solid 1px #2B34B4;
}

@media screen and (max-width: 768px) {
  .p-company__sec-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  .p-company__mission {
    padding: 100px 20px;
  }
  .p-company__mission__title {
    margin-bottom: 60px;
  }
  .p-company__mission__text {
    font-size: 14px;
  }
  .p-company__history {
    padding: 60px 20px 65px;
  }
  .p-company__history__title {
    margin-bottom: 40px;
  }
  .p-company__about__title {
    margin-bottom: 20px;
  }
  .p-company__about__top {
    padding: 90px 0px 0px;
    display: block;
    position: static;
    height: auto;
  }
  .p-company__about__left {
    width: 100%;
    margin-bottom: 30px;
    position: static;
    transform: translateY(0%);
  }
  .p-company__about__text {
    padding: 10px;
    font-size: 14px;
  }
  .p-company__about__right {
    width: 100%;
    position: static;
  }
  .p-company__about__table {
    padding: 0 20px;
  }
  .p-company__about__table dl {
    display: block;
    margin: 100px auto;
    font-size: 14px;
  }
  .p-company__about__table dt {
    width: calc(100% - 30px);
    color: #000000;
    padding: 8px 15px;
    background-color: rgba(43, 52, 180, 0.1);
    border-bottom: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 14px;
  }
  .p-company__about__table dt:last-child {
    border-bottom: none;
  }
  .p-company__about__table dt + dd {
    width: calc(100% - 30px);
    color: #000000;
    padding: 8px 15px;
  }
  .p-company__about__table dt + dd:not(:last-child) {
    border-bottom: solid 1px #2B34B4;
  }
}
.p-works__top {
  margin: 200px auto 170px;
  padding: 0 20px;
  width: auto;
}
.p-works__top__column {
  max-width: 1000px;
  height: 310px;
  margin: 0 auto 120px;
  display: flex;
  align-items: center;
  position: relative;
}
.p-works__top__column__title {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 45px;
}
.p-works__top__column__text {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.p-works__top__column__left {
  width: 60%;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.p-works__top__column__left img {
  -o-object-fit: cover;
     object-fit: cover;
}
.p-works__top__column__right {
  width: 45%;
  height: auto;
  position: absolute;
  top: 35%;
  right: 0;
  transform: translateY(-50%);
}
.p-works__list {
  padding: 122px 0 200px;
  background-image: url(../img/bg/bg-works.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.p-works__item {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  overflow: hidden;
  background-image: url(../img/bg/bg-works-list.png);
  background-size: 90% 90%;
  background-position: right center;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}
.p-works__item:nth-child(2n) {
  flex-direction: row-reverse;
  background-position: left center;
}
.p-works__item:last-child {
  margin-bottom: 0;
}
.p-works__img, .p-works__img-reverse {
  width: 50%;
}
.p-works__texts {
  width: 50%;
}
.p-works__texts__wrapper, .p-works__texts__wrapper-reverse {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
  width: 80%;
  max-width: 450px;
  height: 80%;
}
.p-works__texts__wrapper {
  text-align: right;
  margin-right: auto;
  margin-left: 5%;
}
.p-works__texts__wrapper-reverse {
  text-align: left;
  margin-left: auto;
  margin-right: 5%;
}
.p-works__texts-reverse {
  width: 50%;
}
.p-works__work, .p-works__work-reverse {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #fff;
  margin-bottom: 45px;
}
.p-works__work span, .p-works__work-reverse span {
  font-size: 20px;
}
.p-works__work {
  text-align: center;
}
.p-works__work-reverse {
  text-align: center;
}
.p-works__desc, .p-works__desc-reverse {
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 30px;
  color: #fff;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.p-works__desc {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .p-works__top {
    margin: 100px auto 80px;
  }
  .p-works__top__column {
    margin: 0 auto 60px;
    height: auto;
    flex-direction: column-reverse;
    position: static;
  }
  .p-works__top__column__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .p-works__top__column__text {
    font-size: 14px;
    text-align: left;
  }
  .p-works__top__column__left {
    width: 100%;
    font-weight: 500;
    position: static;
    transform: translateY(0%);
  }
  .p-works__top__column__left img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .p-works__top__column__right {
    width: 100%;
    height: auto;
    position: static;
    transform: translateY(0%);
    margin-bottom: 30px;
  }
  .p-works__list {
    padding: 60px 0 100px;
  }
  .p-works__item {
    flex-direction: column-reverse;
    background-size: 90% 70%;
    background-position: left top;
    margin-bottom: 20px;
  }
  .p-works__item:nth-child(2n) {
    margin: 0 0 0 auto;
    flex-direction: column-reverse;
    background-position: right top;
  }
  .p-works__item:not(:last-child) {
    margin-bottom: 60px;
  }
  .p-works__img, .p-works__img-reverse {
    width: 90%;
  }
  .p-works__img-reverse {
    margin-left: auto;
  }
  .p-works__texts {
    width: 90%;
  }
  .p-works__texts__wrapper, .p-works__texts__wrapper-reverse {
    position: static;
    transform: translateY(0%);
    padding: 20px 0;
  }
  .p-works__texts__wrapper {
    text-align: left;
    margin-left: 23px;
  }
  .p-works__texts__wrapper-reverse {
    text-align: right;
    margin-right: 23px;
  }
  .p-works__texts-reverse {
    width: 90%;
    margin-left: auto;
  }
  .p-works__work, .p-works__work-reverse {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .p-works__work span, .p-works__work-reverse span {
    font-size: 16px;
  }
  .p-works__work {
    text-align: left;
  }
  .p-works__work-reverse {
    text-align: right;
  }
  .p-works__desc, .p-works__desc-reverse {
    font-size: 14px;
    text-align: left;
  }
  .p-works__desc {
    text-align: left;
    margin: 0 auto 15px 0;
  }
  .p-works__desc-reverse {
    margin: 0 0 15px auto;
  }
  .p-works__link, .p-works__link-reverse {
    color: #fff;
    border: solid 1px #fff;
  }
  .p-works__link {
    margin: 0 auto 25px 0;
  }
  .p-works__link-reverse {
    margin: 0 0 25px auto;
  }
}
.p-recruit__top {
  margin: 200px auto 97px;
  padding: 0 20px;
  width: auto;
  position: relative;
}
.p-recruit__top__bg {
  background-image: url(../img/bg/bg-rectuit-top.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 543px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.p-recruit__top__column {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto 120px;
}
.p-recruit__top__column__left {
  width: 40%;
  margin-right: 6%;
  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
}
.p-recruit__top__column__right {
  width: 54%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.p-recruit__top__catch {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}
.p-recruit__top__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
.p-recruit__about {
  padding: 83px 20px 240px;
  width: auto;
  background-image: url(../img/bg/bg-rectuit-about.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.p-recruit__about__title {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 100px;
}
.p-recruit__about__table {
  max-width: 946px;
  margin: 0 auto 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.p-recruit__about__table dt, .p-recruit__about__table dt + dd {
  font-family: "Noto Sans CJK JP";
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
.p-recruit__about__table dt {
  padding: 40px 0px;
  margin-right: 5px;
  width: 180px;
  color: #000000;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  border-bottom: solid 4px #2B34B4;
}
.p-recruit__about__table dt + dd {
  padding: 40px 54px;
  width: calc(100% - 180px - 113px);
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  border-bottom: solid 4px rgba(43, 52, 180, 0.4);
}
.p-recruit__about__table .pt-0 {
  padding-top: 0;
}
.p-recruit__about__mail {
  display: inline-block;
  margin-left: 20px;
  text-decoration: underline;
}
.p-recruit__about__text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 100px;
}
.p-recruit__about__button {
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .p-recruit__top {
    margin: 100px 0 50px;
    position: relative;
  }
  .p-recruit__top__column {
    flex-direction: column;
    max-width: 540px;
    margin: 0 auto 0px;
  }
  .p-recruit__top__column__left {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 30px;
  }
  .p-recruit__top__column__right {
    width: auto;
    max-width: 540px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 30px;
  }
  .p-recruit__top__catch {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .p-recruit__top__text {
    font-size: 14px;
    text-align: left;
  }
  .p-recruit__about {
    margin: 0px;
    padding: 50px 20px 120px;
  }
  .p-recruit__about__title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .p-recruit__about__table {
    margin: 0 auto 50px;
    padding: 0;
    display: block;
  }
  .p-recruit__about__table dt, .p-recruit__about__table dt + dd {
    font-family: "Noto Sans CJK JP";
    letter-spacing: 0.1em;
    line-height: 30px;
    color: #fff;
  }
  .p-recruit__about__table dt {
    padding: 10px 0 0 10px;
    margin-right: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    border-bottom: none;
  }
  .p-recruit__about__table dt + dd {
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 14px;
    color: #000000;
    text-align: left;
    border-bottom: solid 2px rgba(43, 52, 180, 0.4);
  }
  .p-recruit__about__mail {
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
  }
  .p-recruit__about__text {
    font-size: 14px;
    text-align: left;
    margin-bottom: 50px;
  }
  .p-recruit__about__button {
    font-weight: normal;
  }
}
.p-archive-news {
  padding: 200px 20px 240px;
  background-image: url(../img/bg/bg-news.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.p-archive-news__contain {
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
}
.p-archive-news__list {
  border-top: solid 1px black;
}
.p-archive-news__item {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: left;
  align-items: center;
}
.p-archive-news__inner {
  padding: 30px 49px 30px 24px;
  margin-right: 10px;
}
.p-archive-news__date {
  color: black;
  font-size: 16px;
}
.p-archive-news__title {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .p-archive-news {
    padding: 100px 20px;
  }
  .p-archive-news__list {
    margin: 0 auto;
    border-top: solid 1px black;
  }
  .p-archive-news__item {
    border-bottom: solid 1px black;
  }
  .p-archive-news__inner {
    padding: 20px 20px 20px 10px;
    margin-right: 10px;
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .p-archive-news__date {
    font-size: 12px;
  }
  .p-archive-news__title {
    font-size: 14px;
  }
}
.p-single-news {
  margin: 200px 0 240px;
}
.p-single-news__inner {
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-single-news__content {
  width: 720px;
  margin-right: 3%;
}
.p-single-news__title {
  font-size: 48px;
  text-align: left;
  margin-bottom: 72px;
}
.p-single-news__img {
  width: 100%;
  height: 477px;
  background-color: gray;
  border-radius: 20px;
  margin-bottom: 56px;
  position: relative;
}
.p-single-news__date {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 8px #FBFCFD;
  background-color: #2B34B4;
  position: absolute;
  top: -5%;
  left: -5%;
}
.p-single-news__date span {
  font-size: 32px;
  color: #FBFCFD;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-single-news__text {
  font-size: 18px;
  text-align: left;
  margin-bottom: 84px;
}
.p-single-news__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}
.p-single-news__prev {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #007BFF;
  border: solid 2px #007BFF;
  padding: 8px 26px;
  margin: 0 auto;
  background: #FBFCFD;
  border-radius: 32px;
  transition: all 0.3s;
}
.p-single-news__prev:before {
  content: "";
  display: block;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #007BFF;
  border-left: 2px solid #007BFF;
  transform: rotate(45deg);
}
.p-single-news__prev:hover {
  color: #FBFCFD;
  background: #007BFF;
}
.p-single-news__prev:hover:before {
  margin-right: 8px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #FBFCFD;
  border-left: 2px solid #FBFCFD;
  transform: rotate(45deg);
}
.p-single-news__side {
  width: calc(100% - 720px - 3%);
}
.p-single-news__information {
  font-size: 32px;
  margin-bottom: 40px;
}
.p-single-news__dotted {
  border-top: dotted 4px #007BFF;
  margin-bottom: 40px;
}
.p-single-news__dotted:last-child {
  margin-bottom: 0;
}
.p-single-news__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.p-single-news__item__left {
  width: 130px;
  height: 88px;
  margin-right: 4%;
  background-color: gray;
  border-radius: 8px;
}
.p-single-news__item__right {
  width: calc(100% - 130px - 4%);
}
.p-single-news__item__date {
  font-size: 14px;
  margin-bottom: 8px;
}
.p-single-news__item__title {
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  .p-single-news__content {
    width: 600px;
    margin-right: 30px;
  }
  .p-single-news__title {
    margin-bottom: 60px;
  }
  .p-single-news__img {
    width: 100%;
    height: 338px;
    margin-bottom: 50px;
  }
  .p-single-news__date {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 8px #FBFCFD;
    background-color: #2B34B4;
    position: absolute;
    top: -5%;
    left: -5%;
  }
  .p-single-news__date span {
    font-size: 28px;
    color: #FBFCFD;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .p-single-news__text {
    font-size: 18px;
    text-align: left;
    margin-bottom: 84px;
  }
  .p-single-news__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  .p-single-news__prev {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
    border: solid 2px #007BFF;
    padding: 8px 26px;
    margin: 0 auto;
    background: #FBFCFD;
    border-radius: 32px;
    transition: all 0.3s;
  }
  .p-single-news__prev:before {
    content: "";
    display: block;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #007BFF;
    border-left: 2px solid #007BFF;
    transform: rotate(45deg);
  }
  .p-single-news__prev:hover {
    color: #FBFCFD;
    background: #007BFF;
  }
  .p-single-news__prev:hover:before {
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #FBFCFD;
    border-left: 2px solid #FBFCFD;
    transform: rotate(45deg);
  }
  .p-single-news__side {
    width: calc(100% - 720px - 3%);
  }
  .p-single-news__title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .p-single-news__dotted {
    border-top: dotted 4px #007BFF;
    margin-bottom: 40px;
  }
  .p-single-news__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .p-single-news__item__left {
    width: 130px;
    height: 88px;
    margin-right: 4%;
    background-color: gray;
    border-radius: 8px;
  }
  .p-single-news__item__right {
    width: calc(100% - 130px - 4%);
  }
  .p-single-news__item__date {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .p-single-news__item__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 920px) {
  .p-single-news {
    margin: 100px 0 120px;
  }
  .p-single-news__inner {
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: auto;
    margin: 0 auto;
  }
  .p-single-news__content {
    width: auto;
    margin-right: 0%;
    margin-bottom: 50px;
  }
  .p-single-news__title {
    font-size: 36px;
    text-align: left;
    margin-bottom: 40px;
  }
  .p-single-news__img {
    width: 100%;
    height: 338px;
    margin-bottom: 30px;
    position: relative;
  }
  .p-single-news__date {
    display: block;
    width: 60px;
    height: 60px;
    border: solid 6px #FBFCFD;
    top: -3%;
    left: -3%;
  }
  .p-single-news__date span {
    font-size: 16px;
  }
  .p-single-news__text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .p-single-news__side {
    width: auto;
    max-width: 400px;
    margin: 0 auto;
  }
  .p-single-news__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .p-single-news__dotted {
    border-top: dotted 4px #007BFF;
    margin-bottom: 20px;
  }
  .p-single-news__item {
    margin-bottom: 20px;
  }
  .p-single-news__item__left {
    width: 130px;
    height: 88px;
    margin-right: 4%;
    background-color: gray;
    border-radius: 8px;
  }
  .p-single-news__item__right {
    width: calc(100% - 130px - 4%);
  }
  .p-single-news__item__date {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .p-single-news__item__title {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .p-single-news {
    margin: 100px 0 120px;
  }
  .p-single-news__inner {
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: auto;
    margin: 0 auto;
  }
  .p-single-news__content {
    width: auto;
    margin-right: 0%;
    margin-bottom: 50px;
  }
  .p-single-news__title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 40px;
  }
  .p-single-news__img {
    width: 100%;
    height: 240px;
    margin-bottom: 30px;
    position: relative;
  }
  .p-single-news__date {
    display: block;
    width: 60px;
    height: 60px;
    border: solid 6px #FBFCFD;
    top: -3%;
    left: -3%;
  }
  .p-single-news__date span {
    font-size: 16px;
  }
  .p-single-news__text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .p-single-news__buttons {
    max-width: 400px;
  }
  .p-single-news__prev {
    font-size: 14px;
    padding: 6px 20px;
  }
  .p-single-news__prev:before {
    margin-right: 6px;
    width: 6px;
    height: 6px;
  }
  .p-single-news__prev:hover:before {
    margin-right: 6px;
    width: 6px;
    height: 6px;
  }
  .p-single-news__side {
    width: auto;
    max-width: 400px;
    margin: 0 auto;
  }
  .p-single-news__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .p-single-news__dotted {
    border-top: dotted 4px #007BFF;
    margin-bottom: 20px;
  }
  .p-single-news__item {
    margin-bottom: 20px;
  }
  .p-single-news__item__left {
    width: 130px;
    height: 88px;
    margin-right: 4%;
    background-color: gray;
    border-radius: 8px;
  }
  .p-single-news__item__right {
    width: calc(100% - 130px - 4%);
  }
  .p-single-news__item__date {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .p-single-news__item__title {
    font-size: 16px;
  }
}
.c-pager {
  margin: 120px auto 0;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-pager__arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: solid 1px blue;
  background-color: blue;
  position: relative;
}
.c-pager__arrow span {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-pager__arrow:not(:last-child) {
  margin-right: 10px;
}
.c-pager__arrow:hover {
  background-color: white;
  transition: all 0.3s;
}
.c-pager__arrow:hover span {
  color: blue;
}

@media screen and (max-width: 768px) {
  .c-pager {
    margin: 40px auto 0;
    padding-bottom: 40px;
  }
  .c-pager__arrow {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .c-pager__arrow span {
    font-size: 12px;
  }
  .c-pager__arrow:not(:last-child) {
    margin-right: 10px;
  }
  .c-pager__arrow:hover {
    background-color: white;
    transition: all 0.3s;
  }
  .c-pager__arrow:hover span {
    color: blue;
  }
}
.l-contact {
  position: relative;
  padding-bottom: 240px;
}
.l-contact__bg {
  position: absolute;
  bottom: -5px;
  background-image: url(../img/bg/bg-contact.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 813px;
  z-index: -1;
}
.l-contact__text {
  padding: 0 20px;
  font-size: 16px;
  color: #1A1A18;
  text-align: center;
  margin: 200px 0 139px;
}
.l-contact__form {
  background-color: rgba(184, 184, 184, 0.4);
  max-width: 1000px;
  width: calc(100% - 40px);
  margin: 0 auto 160px;
  border-radius: 120px 16px;
  box-shadow: 12px 12px 0 0 rgba(26, 26, 24, 0.2);
}
.l-contact__form__inner {
  width: auto;
  padding: 120px 11% 130px 22%;
  width: 67%;
}
.l-contact__form__item {
  display: flex;
  align-items: center;
}
.l-contact__form__item span {
  display: inline-block;
  width: 150px;
  margin-right: 26px;
  font-size: 16px;
  font-weight: 500;
  color: #1a1a18;
}
.l-contact__form__item .required {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 28px;
  padding: 1px 8px;
  background-color: #CB3C3C;
  color: #f9f9f9;
  font-size: 12px;
  border-radius: 10px;
}
.l-contact__form__item .required.hide {
  opacity: 0;
}
.l-contact__form__item input {
  font-size: 16px;
  height: 36px;
  width: 100%;
  max-width: 400px;
  border: solid rgba(26, 26, 24, 0.3) 1px;
  border-radius: 4px;
}
.l-contact__form__item textarea {
  font-size: 16px;
  height: 160px;
  width: 100%;
  max-width: 400px;
  border: solid rgba(26, 26, 24, 0.3) 1px;
  border-radius: 4px;
}
.l-contact__form__item:not(:last-child) {
  margin-bottom: 22px;
}
.l-contact__form__item.purpose {
  margin-bottom: 34px;
}
.l-contact__form__item.start {
  align-items: flex-start;
}
.l-contact__form__check label {
  display: block;
  color: black;
}
.l-contact__form__check label:not(:last-child) {
  margin-bottom: 10px;
}
.l-contact__form__check input {
  width: 16px;
  height: 16px;
  margin-right: 28px;
}
.l-contact__button {
  border: none;
}

@media screen and (max-width: 768px) {
  .l-contact {
    padding-bottom: 120px;
  }
  .l-contact__bg {
    height: 410px;
  }
  .l-contact__text {
    font-size: 14px;
    margin: 100px 0 70px;
  }
  .l-contact__form {
    padding: 0;
    width: calc(100% - 40px);
    margin: 100px auto;
    border-radius: 60px 10px;
    box-shadow: 8px 8px 0 0 rgba(26, 26, 24, 0.2);
  }
  .l-contact__form__inner {
    padding: 80px 20px;
    margin: 0 auto;
    width: auto;
  }
  .l-contact__form__item {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .l-contact__form__item input {
    max-width: 100%;
  }
  .l-contact__form__item label {
    display: block;
    margin-bottom: 10px;
  }
  .l-contact__form__item span {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 10px;
  }
  .l-contact__form__item .required {
    margin-right: 0px;
  }
  .l-contact__form__item:not(:last-child) {
    margin-bottom: 22px;
  }
  .l-contact__form__item.purpose {
    margin-bottom: 34px;
  }
  .l-contact__form__check p:not(:last-child) {
    margin-bottom: 5px;
  }
  .l-contact__form__check input {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }
}
.privacy {
  margin: 200px auto 240px;
}
.privacy__top, .privacy__text, .privacy__text--left01, .privacy__text--left02 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: left;
  color: #1a1a1a;
}
.privacy__contain, .privacy__top {
  max-width: 870px;
  margin: 0 auto;
}
.privacy__top {
  margin-bottom: 30px;
}
.privacy__contain:not(:last-child) {
  margin-bottom: 50px;
}
.privacy__title {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.05em;
  line-height: 28px;
  text-align: left;
  color: #1a1a1a;
  margin-bottom: 20px;
}
.privacy__text {
  position: relative;
  padding-left: 0px;
  word-break: normal;
}
.privacy__text--left01 {
  padding-left: 30px;
  margin-bottom: 0px;
}
.privacy__text--left02 {
  padding-left: 60px;
  margin-bottom: 10px;
}
.privacy__text--left03 {
  padding-left: 90px;
  margin-bottom: 10px;
}
.privacy__text--nospace {
  padding-left: 0px;
}
.privacy__text--topspace {
  padding-left: 0px;
  margin-top: 16px;
}
.privacy__text:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 920px) {
  .privacy__contain, .privacy__top {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .privacy {
    margin: 100px auto 100px;
  }
  .privacy__top, .privacy__text, .privacy__text--left01, .privacy__text--left02 {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  .privacy__top {
    margin-bottom: 20px;
  }
  .privacy__contain:not(:last-child) {
    margin-bottom: 40px;
  }
  .privacy__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .privacy__text {
    position: relative;
  }
  .privacy__text--left01 {
    padding-left: 20px;
  }
  .privacy__text--left02 {
    padding-left: 40px;
  }
  .privacy__text--nospace {
    padding-left: 0px;
  }
  .privacy__text--topspace {
    padding-left: 0px;
    margin-top: 12px;
  }
  .privacy__text:not(:last-child) {
    margin-bottom: 5px;
  }
}
.p-specified {
  padding: 0 20px;
}
.p-specified dl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 200px auto 240px;
  border: solid 1px #2B34B4;
}
.p-specified dt {
  width: calc(20% - 48px);
  color: #000000;
  padding: 8px 24px;
  background-color: rgba(43, 52, 180, 0.1);
  border-bottom: solid 1px #2B34B4;
}
.p-specified dt:last-child {
  border-bottom: none;
}
.p-specified dt + dd {
  width: calc(80% - 48px);
  color: #000000;
  padding: 8px 24px;
}
.p-specified dt + dd:not(:last-child) {
  border-bottom: solid 1px #2B34B4;
}

@media screen and (max-width: 760px) {
  .p-specified {
    padding: 0 20px;
  }
  .p-specified dl {
    display: block;
    margin: 100px auto;
  }
  .p-specified dt {
    width: calc(100% - 48px);
    color: #000000;
    padding: 8px 24px;
    background-color: rgba(43, 52, 180, 0.1);
    border-bottom: none;
  }
  .p-specified dt:last-child {
    border-bottom: none;
  }
  .p-specified dt + dd {
    width: calc(100% - 48px);
    color: #000000;
    padding: 8px 24px;
  }
  .p-specified dt + dd:not(:last-child) {
    border-bottom: solid 1px #2B34B4;
  }
}
/*# sourceMappingURL=style.css.map */