// ボタン
.top-button{
    font-weight: 300;
}
.entry-button{
    font-weight: 500;
    background: linear-gradient(to right, #F5F6FF, #A3CDFF, #007BFF);
    color: #2B34B4;
}
.entry-button:after{
  content: '';
  display: block;
  margin-left: 8px;
	width: 8px;
	height: 8px;
	border-top: 2px solid #2B34B4;
	border-right: 2px solid #2B34B4;
	transform: rotate(45deg);
}
.entry-button:hover{
  color: #F9F9F9;
  background: linear-gradient(to right, #007BFF, #7377BE);
  border-radius: 32px;
}
.entry-button:hover:after{
  content: '';
  display: block;
  margin-left: 8px;
	width: 8px;
	height: 8px;
	border-top: 2px solid #F9F9F9;
	border-right: 2px solid #F9F9F9;
	transform: rotate(45deg);
}

// タイトル
.c-top-title {
    width: fit-content;
    margin: 0 auto;
    &__en{
        display: block;
        width: fit-content;
        height: 36px;
        margin: 0 auto;
    }
    &__ja {
        display: block;
        font-size: 56px;
        font-weight: 500;
        text-align: center;
    }
}

// FV
.l-fv {
    width: 100%;
    height: 120vh;
    &__inner {
        display: flex;
        align-items: center;
        // 位置調整
        position: relative;
    }
    &__left {
        width: 38%;
        // 位置調整
        position: absolute;
        top: 10%;
        left: 0;
    }
    &__top {
        width: 90%;
        margin-left: 15%;
        // アニメーション
        transition: all 2s;
        transform: translateY(-100%);
    }
    &__top.show{
        transform: translateY(0);
    }
    &__middle {
        width: 45%;
        margin: 32px 0 32px 15%;
        // アニメーション
        transform: translateX(-200%);
        transition: all 2.5s;
    }
    &__middle.show{
        transform: translateX(0);
    }
    &__bottom {
        width: 60%;
        // アニメーション
        transform: translate(-100% ,100%);
        transition: all 3s;
    }
    &__bottom.show{
        transform: translate(0%, 0%);
    }
    &__right {
        width: 85%;
        // 位置調整
        position: absolute;
        top: 0;
        right: 0;
        // アニメーション
        transform: translateX(100%);
        transition: all 2s;
    }
    &__right.show{
        // アニメーション
        transform: translateX(0%);
    }

}
@media screen and (max-width:1400px) {
    .l-fv {
        width: 100%;
        height: 800px;
    }
}
@media screen and (max-width:1200px) {
    .l-fv {
        width: 100%;
        height: 600px;
    }
}
@media screen and (max-width:1000px) {
    .l-fv {
        width: 100%;
        height: 500px;
    }
}
@media screen and (max-width:768px) {
    .l-fv {
        width: 100vw;
        height: fit-content;
    }
}



// 空気で技術を繋ぐ
.l-top-about {
    padding: 0px 20px;
    margin-top: 220px;
    // 位置調整
    position: relative;
    &__bg{
        width: 100vw;
        height: 543px;
        // 背景画像
        background-image: url(../img/bg/bg-top-01.png);
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        // 位置調整
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    &__title{
        margin-bottom: 160px;
    }
    &__catch {
        font-size: 48px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 100px;
    }
    &__text {
        font-size:16px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        margin-bottom: 70px;
    }

}

// 最新情報
.l-top-news {
    padding: 0px 20px;
    margin: 160px auto 187px;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 862px;
        margin: 0 auto;
    }
    &__left {
        width: calc(100% - 60% - 10%);
        margin-right: 10%;
    }
    &__title {
        margin-bottom: 80px;
    }
    &__right {
        width: 60%;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: left;
        color: #000000;
        border-top: solid 1px #2B34B4;
    }
    &__item:last-child{
        border-bottom: solid 1px #2B34B4;
    }
    &__date {
        padding: 30px 24px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    &__text{
        padding: 30px 24px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

}

// 事業内容
.l-top-business {
    padding: 100px 20px 120px;
    // 背景画像
    background-image: url(../img/bg/bg-top-business.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    &__title {
        margin-bottom: 100px;
    }
    &__flex {  
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto 80px;
    }
    &__left {
        width: 50%;
        margin-right: 5%;
    }
    &__right {
        width: 45%;
    }
    &__information {
        font-size: 48px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 48px;
    }
    &__text {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
    }
    // ダクト一覧
    &__inner {
        max-width: 1000px;
        margin: 0 auto 80px;
        // flex-box
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__content {
        width: calc(100% / 4 - 30px);
        margin-right: 40px;
    }
    &__content:nth-child(4n){
        margin-right: 00px;
    }
    // 画像
    &__img {
        margin-bottom: 24px;
    }
    // ダクトの名前
    &__name {
        margin-bottom: 20px;
        color: black;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        &__little{
            display: block;
            font-size: 14px;
            text-align: center;
        }
    }
}

// 採用情報
.l-top-recruit {
    margin: 180px 0;
    &__title {
        margin-bottom: 100px;
    }
    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto 80px;
    }
    &__left {
        width: 50%;
        margin-right: 5%;
    }
    &__text {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
    }
    &__right {
        width: 45%;
    }
}

// 社員インタビュー
.l-top-interview {
    padding-bottom: 120px;
    // 背景画像
    background-image: url(../img/bg/bg-top-interview.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    &__title {
        margin-bottom: 100px;
    }
    // 集合写真
    &__assembe {
        max-width: 1000px;
        margin: 0 auto 50px;
        padding: 0 20px;
    }
    // それぞれのインタビュー
    &__contents {
        max-width: 1000px;
        margin: 0 auto 100px;
        padding: 0 20px;
        // flex-box
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    // コンテンツ
    &__content {
        width: calc(100% / 3 - 100px / 3);
        margin-right: 50px;
    }
    &__content:nth-child(3n){
        margin-right: 00px;
    }
    // 画像
    &__img {
        margin-bottom: 20px;
    }
    // 文章など
    &__post {
        color: #F9F9F9;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
    }
    &__name {
        margin-bottom: 12px;
        color: #F9F9F9;
        font-size: 22px;
        font-weight: 500;
        text-align: left;
    }
    &__text {
        color: #F9F9F9;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        .year{
            font-size: 14px;
        }
    }

}

// お問い合わせ
.l-top-contact {
    padding: 120px 0;
    // 背景画像
    background-image: url(../img/bg/bg-top-contact.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    &__flex {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &__left {
        width: 56%;
        margin-right: 5%;
    }
    &__title{
        margin: 0 auto 60px 0;
    }
    &__text {
        font-size: 20px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
    }
    &__right {
        width: calc(100% - 56% - 5%);
    }

}


@media screen and (max-width:768px) {
// タイトル
.c-top-title {
    width: fit-content;
    margin: 0 auto;
    &__en{
        display: block;
        width: fit-content;
        height: 24px;
        margin: 0 auto;
    }
    &__ja {
        display: block;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    }
}

// 空気で技術を繋ぐ
.l-top-about {
    margin-top: 110px;
    // 位置調整
    position: relative;
    &__bg{
        width: 100vw;
        height: 270px;
    }
    &__title{
        margin-bottom: 80px;
    }
    &__catch {
        font-size: 26px;
        margin-bottom: 50px;
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 40px;
        text-align: left;
    }

}

// 最新情報
.l-top-news {
    margin:120px auto;
    &__flex {
        display: block;
        align-items: center;
        justify-content: center;
        max-width: 862px;
        margin: 0 auto;
    }
    &__left {
        width: 100%;
        margin-right: 0%;
    }
    &__list{
        margin-bottom: 40px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__right {
        width: 100%;
    }
    &__date {
        padding: 10px 12px;
        font-size: 12px;
    }
    &__text{
        padding: 10px 12px;
        font-size: 14px;
    }

}

// 事業内容
.l-top-business {
    padding: 100px 20px;
    &__title {
        margin-bottom: 50px;
    }
    &__flex {  
        display: block;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto 50px;
    }
    &__left {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 20px;
    }
    &__right {
        width: 100%;
    }
    &__information {
        font-size: 36px;
        margin-bottom: 24px;
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
    }
    // ダクト一覧
    &__inner {
        margin: 0 auto 40px;
        // flex-box
        display: block;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__content {
        width: 100%;
        margin-right: 00px;
        margin-bottom: 40px;
    }
    &__content:nth-child(4n){
        margin-right: 00px;
        margin-bottom: 0;
    }
    // 画像
    &__img {
        margin-bottom: 20px;
    }
    // ダクトの名前
    &__name {
        margin-bottom: 20px;
        font-size: 20px;
        &__little{
            font-size: 14px;
        }
    }
}

// 採用情報
.l-top-recruit {
    margin: 90px 0;
    &__title {
        margin-bottom: 50px;
    }
    &__flex {
        flex-direction: column-reverse;
        margin: 0 auto 40px;
    }
    &__left {
        width: 100%;
        margin-right: 0%;
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
    }
    &__right {
        width: 100%;
        margin-bottom: 20px;
    }
}

// 社員インタビュー
.l-top-interview {
    padding: 80px 0;
    // 背景画像
    background-image: url(../img/bg/bg-top-interview.png);
    background-size: 700%;
    &__title {
        margin-bottom: 50px;
    }
    // 集合写真
    &__assembe {
        margin: 0 auto 30px;
    }
    // それぞれのインタビュー
    &__contents {
        margin: 0 auto 50px;
        // flex-box
        display: block;
    }
    // コンテンツ
    &__content {
        width: 100%;
        margin-right: 00px;
        margin-bottom: 40px;
    }
    &__content:nth-child(3n){
        margin-right: 00px;
        margin-bottom: 0px;
    }
    // 画像
    &__img {
        margin-bottom: 20px;
    }
    // 文章など
    &__post {
        font-size: 14px;
    }
    &__name {
        margin-bottom: 10px;
        font-size: 20px;
    }
    &__text {
        font-size: 14px;
        .year{
            font-size: 12px;
        }
    }

}

// お問い合わせ
.l-top-contact {
    padding: 80px 0;
    &__flex {
        display: block;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &__left {
        width: 100%;
        margin-right: 0%;
    }
    &__title{
        margin: 0 auto 30px;
    }
    &__text {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    &__right {
        width: 100%;
    }

}

}

